{% extends 'base.html' %} {% block content %} {% load static %}

<link rel="stylesheet" href='{% static "css/portal.css" %}' />

<div class="portal">
  <div class="portal-text">
    <h1 class="portal-text-header">
      Lorem ipsum amet consectetur <br />
      adipisicing. Officia omnis,<br />
      possimus corporis.
    </h1>
    <p>
      ( Please Insure that all fields must match before uploading excel file )
    </p>
  </div>
  <div class="portal-buttons text-center">
    <button type="button" class="btn btn-primary mx-2 my-4">
      Download <i class="fas fa-download" style="padding: 5px"></i></button
    ><button type="button" class="btn btn-primary mx-2 my-4">
      Upload<i class="fas fa-upload" style="padding: 6px"></i>
    </button>
  </div>
</div>

{% endblock content %}
