.navbar {
  background: #fff;
  height: 55px;
  border-bottom: 1px solid #fff;
  font-family: "Baloo Bhai 2", cursive;
  font-weight: 500;
}
.navbar-header {
  padding: 5px 60px;
  font-size: 1.5rem;
  color: #1792d2;
}
.navbar-content {
  display: inline-flex;
  padding: 0px 4vw;
}
.navbar-search {
  padding-right: 25px;
}
.navbar-search-form {
  border-right: 1.4px solid #1792d2;
  padding-right: 30px;
}
.input-form {
  outline: none !important;
  border: none;
  border-bottom: 1px solid #1792d2;
  color: #2d7ed1;
}
.form-sumbit {
  border: none;
  /* background-color: #fff; */
  padding: 5px 0px;
  background: transparent;
  border-color: transparent;
  color: #2d7ed1;
}
.navbar-user-icon {
  padding: 5px 5px;
  background: transparent;
  border-color: transparent;
  color: #1792d2;
}
