.navbar {
  background: #fff;
  height: 65px;
  border-bottom: 1px solid #fff;
  font-family: "Baloo Bhai 2", cursive;
  font-weight: 500;
}
.navbar-header {
  padding: 5px 60px;
  font-size: 1.5rem;
}
.navbar-content {
  display: inline-flex;
  padding: 5px 25px;
}
.navbar-search {
  padding-right: 50px;
}
.navbar-search-form {
  border-right: 1.4px solid black;
  padding-right: 45px;
}
.input-form {
  outline: none !important;
  border: 1.5px solid #d5dbe5ab;
  border-radius: 5px;
  background-color: #d5dbe5ab;
  margin: -5px;
  padding: 5px 5px;
}
.form-sumbit {
  border: none;
  background-color: #d5dbe5ab;
  padding: 5px 10px;
}
.navbar-user-icon {
  padding: 5px 5px;
}
