.navbar {
  background: #fff;
  height: 55px;
  border-bottom: 1px solid #fff;
  font-family: "Baloo Bhai 2", cursive;
  font-weight: 500;
}
.navbar-header {
  padding: 5px 60px;
  font-size: 1.5rem;
}
.navbar-content {
  display: inline-flex;
  padding: 0px 4vw;
}
.navbar-search {
  padding-right: 25px;
}
.navbar-search-form {
  border-right: 1.4px solid #2a2827;
  padding-right: 30px;
}
.input-form {
  outline: none !important;
  border: none;
  border-bottom: 1px solid #d5d5d5;
  /* margin: -5px; */
  /* padding: 5px 5px; */
}
.form-sumbit {
  border: none;
  background-color: #fff;
  padding: 5px 0px;
}
.navbar-user-icon {
  padding: 5px 5px;
}
