{% load static %}

<link rel="stylesheet" href='{% static "css/navbar.css" %}' />

<nav class="navbar">
  <div class="navbar-header">Dashboard</div>
  <div class="navbar-content">
    <div class="navbar-search">
      <form class="navbar-search-form">
        <input
          class="input-form"
          type="search"
          placeholder="Search by Username"
          aria-label="Search"
        />
        <button type="submit" class="form-sumbit">
          <i
            class="fas fa-search"
            style="font-size: 1.2rem; padding-top: 5px"
          ></i>
        </button>
      </form>
    </div>
    <div class="navbar-user-icon">
      <i class="fas fa-house-user" style="font-size: 1.7rem"></i>
    </div>
  </div>
</nav>
