{% load static %}

<link rel="stylesheet" href='{% static "css/sidebar.css" %}' />

<aside class="sidebar">
  <nav>
    <div class="logo">MEDICAL SIMULATION SKILLS INSTITUTE</div>
    <div class="user-profile">
      <div class="user-profile-icon">
        <i class="fas fa-user-circle" style="font-size: 2.3rem"></i>
      </div>
      <div class="user-profile-name">{{ user.get_username }}</div>
    </div>
    <div class="dashboard">
      <a href="/" id="dashboard-as-link">Dashboard</a>
    </div>
    <div class="dashboard-links">
      <div class="regulatory-bodies-text">Regulatory Bodies</div>
      <ul>
        <li class="dashboard-council">Medical and dental council</li>
        <li><a href="/medical/portal/">portal</a></li>
        <li><a href="/medical/participants/">participants</a></li>
        <li><a href="/medical/history/">History</a></li>
        <li class="dashboard-council">Pharmacy Council</li>
        <li><a href="/medical/portal/">portal</a></li>
        <li><a href="/medical/participants/">participants</a></li>
        <li><a href="/medical/history/">History</a></li>
        <li class="dashboard-council">Nursing & Midwery Council</li>
        <li><a href="/medical/portal/">portal</a></li>
        <li><a href="/medical/participants/">participants</a></li>
        <li><a href="/medical/history/">History</a></li>
      </ul>
    </div>
  </nav>
</aside>
