<style>
  * {
    margin: 0;
  }

  .sidebar {
    background: rgb(36, 32, 32);
    height: 100vh;
    color: aliceblue;
  }
  .logo {
    height: 80px;
    padding: 17px 35px;
    font-size: 0.84rem;
    border-bottom: 1.5px solid #4c4747a8;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
  }
</style>

<aside class="sidebar">
  <nav>
    <div class="logo">MEDICAL SIMULATION SKILLS INSTITUTE</div>
    <div class="user-profile">
      <i class="fa fa-portrait" style="font-size: 2"></i>
    </div>
    <div class="dashboard">
      <h4>dashboard</h4>
    </div>
    <div class="dashboard-links">
      <div class="regulatory-bodies">
        <h4>Regulatory Bodies</h4>
      </div>
      <ul>
        <li>
          <h6>Medical and dental council</h6>
          <ul>
            <li>Medical center</li>
          </ul>
        </li>
        <li>portal</li>
        <li>participants</li>
        <li>History</li>
      </ul>
    </div>
  </nav>
</aside>
