{% load static %}

<link rel="stylesheet" href='{% static "css/sidebar.css" %}' />

<aside class="sidebar">
  <nav>
    <div class="logo">MEDICAL SIMULATION SKILLS INSTITUTE</div>
    <div class="user-profile">
      <div class="user-profile-icon">
        <i class="fas fa-user-circle" style="font-size: 2.5rem"></i>
      </div>
      <div class="user-profile-name">user1234578</div>
    </div>
    <div class="dashboard">Dashboard</div>
    <div class="dashboard-links">
      <div class="regulatory-bodies-text">Regulatory Bodies</div>
      <ul>
        <li class="dashboard-council">Medical and dental council</li>
        <li>portal</li>
        <li>participants</li>
        <li>History</li>
        <li class="dashboard-council">Pharmacy Council</li>
        <li class="dashboard-council">Nursing & Midwery Council</li>
      </ul>
    </div>
  </nav>
</aside>
